.navbarContainer {
    height: 60px;
    width: 100vw;
    background-color: #36416A;
    box-sizing: border-box;
    text-decoration: none;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.textNav>p {
    margin-top: 6px;
    margin-left: 1.3rem;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 36px;
    color: #FFFFFF;
}

.navbarContainer>.logout {
    margin-top: 8px;
    margin-right: 1.3rem;
}

.logoutSuccess {
    display: flex;
    gap: 12px;
    margin-top: 8px;
    margin-right: 1.3rem;
}

.logout > .signup, .logoutSuccess > .logoutBtn {
    background-color: #36416A;
    border: 1px solid white;
}

.logoutSuccess > img {
    width: 45px;
    height: 45px;
}

.logoutSuccess > p {
    color: white;
}

.navbarContainer>.login>span,
.navbarContainer>.signup>span {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}

@media (max-width:700px) {
    .navbarContainer {
        height: 60px;
        min-width: 350px;
        max-width: 700px;
        width: 100vw;
    }

}