.registerFormContainer {
    height: 52vh;
    width: 43vw;
    margin: auto auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 20px;
    margin: 10px;
    padding: 5px;
    height: 44px;
}

.input > img {
    margin-top: 2px;
    width: 26px;
    height: 27px;
}

#mobile {
    width: 21px;
    margin-left: 2px;
}

input {
    width: 200px;
    padding-left: 7px;
    border: none;
    border-bottom: 1px solid #AAAAAA;
}

.link {
    color: #737373;
    font-size: 15px;
    margin: 10px;
}

.link > span {
    text-decoration: underline;
    cursor: pointer;
}

button {
    background: #36416A;
    border-radius: 27.907px;
    width: 100px;
    height: 35px;
    border: none;
    cursor: pointer;
    margin: 4px;
}

button > span {
    color: white;
}

@media (max-width:570px) {

    .registerFormContainer{
        height:90vw;
        width: 85vw;
    }

}